<!DOCTYPE html>
<html lang="zxx" class="js">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="CryptoCoin is a powerful Bitcoin Crypto Currency Wallet and Mining Template with full of customization options and features">
		<!-- Fav Icon  -->
		<link rel="shortcut icon" href="images/favicon.png">
		<!-- Site Title  -->
		<title>Blog - CryptoCoin - Bitcoin Crypto Currency Wallet and Mining Template</title>
		<!-- Vendor Bundle CSS -->
		<link rel="stylesheet" href="assets/css/vendor.bundle.css" >
		<!-- Custom styles for this template -->
		<link href="assets/css/style.css" rel="stylesheet">
		<link href="assets/css/theme.css" rel="stylesheet">
	</head>
	<body>
	
		<!-- Header --> 
		<header class="site-header header-s1 is-sticky">
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<ul class="social">
								<li><a href="#"><em class="fa fa-facebook"></em></a></li>
								<li><a href="#"><em class="fa fa-twitter"></em></a></li>
								<li><a href="#"><em class="fa fa-linkedin"></em></a></li>
								<li><a href="#"><em class="fa fa-google-plus"></em></a></li>
							</ul>
						</div>
						<div class="col-sm-6 al-right">
							<ul class="top-nav">
								<li><a href="faqs.html">Help</a></li>
								<li><a href="faqs.html">Support</a></li>
								<li><a href="signup.html">Login</a></li>
								<li><a href="signup.html">Register</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- #end Topbar -->
			<!-- Navbar -->
			<div class="navbar navbar-primary">
				<div class="container relative">
					<!-- Logo -->
					<a class="navbar-brand" href="index.html">
						<img class="logo logo-dark" alt="logo" src="images/logo.png">
						<img class="logo logo-light" alt="logo" src="images/logo_white.png">
					</a>
					<!-- #end Logo -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
							<span class="sr-only">Menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="quote-btn"><a class="btn" href="contact.html"><span>get started</span></a></div>
					</div>
					<!-- MainNav -->
					<nav class="navbar-collapse collapse" id="mainnav">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle">Home <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="index.html">Home - Default</a></li>
									<li><a href="index-wallet.html">Home - Wallet</a></li>
									<li><a href="index-mining.html">Home - Mining</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle">Pages <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">About Pages</a>
										<ul class="dropdown-menu">
											<li><a href="about.html">About Us</a></li>
											<li><a href="teams.html">Teams</a></li>
											<li><a href="testimonial.html">Testimonial</a></li>
										</ul>
									</li>
									<li><a href="#">Service Pages</a>
										<ul class="dropdown-menu">
											<li><a href="service.html">Service List</a></li>
											<li><a href="service-single.html">Service Single</a></li>
										</ul>
									</li>
									<li><a href="#">BitCoin Pages</a>
										<ul class="dropdown-menu">
											<li><a href="work-process.html">How it Works</a></li>
											<li><a href="buy-sell.html">Buy &amp; Sell</a></li>
											<li><a href="wallet-features.html">Wallet Features</a></li>
											<li><a href="market-data.html">Market Data</a></li>
											<li><a href="pricing.html">Pricing</a></li>
										</ul>
									</li>
									<li><a href="#">Blog Pages</a>
										<ul class="dropdown-menu">
											<li><a href="blog.html">Blog List</a></li>
											<li><a href="blog-single.html">Blog Single</a></li>
										</ul>
									</li>
									<li><a href="#">Miscellaneous Pages</a>
										<ul class="dropdown-menu">
											<li><a href="pricing-table.html">Pricing Table</a></li>
											<li><a href="signup.html">Sign In/Sign Up</a></li>
											<li><a href="faqs.html">Faq/Support</a></li>
											<li><a href="contact.html">Contact</a></li>
										</ul>
									</li>
									<li><a href="typography.html">Typography</a></li>
								</ul>
							</li>
							<li><a href="buy-sell.html">buy &amp; Sell</a></li>
							<li><a href="wallet-features.html">wallet</a></li>
							<li><a href="market-data.html">Market data</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li class="quote-btn hidden-xs hidden-sm"><a class="btn" href="contact.html">get started</a></li>
						</ul>
					</nav>
					<!-- #end MainNav -->
				</div>
			</div>
			<!-- #end Navbar -->
			<!-- Banner/Slider -->
			<div class="page-head section row-vm light">
				<div class="imagebg">
					<img src="images/page-inside-bg.jpg" alt="page-head">
				</div>
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12">
							<h2>Blog</h2>
							<div class="page-breadcrumb">
								<ul class="breadcrumb">
									<li><a href="index.html">Home</a></li>
									<li class="active"><span>Blog</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #end Banner/Slider -->
		</header>
    	
      	<!--Section -->
       	<div class="section section-pad">
       		<div class="container">
       			<div class="row">
       				<div class="col-md-8 res-m-bttm">
						<div class="row text-center">
							<div class="col-sm-6">
								<div class="blog-post shadow round">
									<div class="post-thumb"><a href="blog-single.html"><img src="images/post-thumb-a.jpg" alt="post"></a></div>
									<div class="post-entry">
										<div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
										<h5><a href="blog-single.html">Working Hard to Keep Pace with very heigh Demand</a></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
										<a href="blog-single.html" class="btn-icon"><span class="pe pe-7s-angle-right"></span></a>
									</div>
								</div>
								<div class="gaps size-3x"></div>
							</div>
							<div class="col-sm-6">
								<div class="blog-post shadow round">
									<div class="post-thumb"><a href="blog-single.html"><img src="images/post-thumb-b.jpg" alt="post"></a></div>
									<div class="post-entry">
										<div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
										<h5><a href="blog-single.html">Black Friday: Bitcoins the biggest deal on from today</a></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
										<a href="blog-single.html" class="btn-icon"><span class="pe pe-7s-angle-right"></span></a>
									</div>
								</div>
								<div class="gaps size-3x"></div>
							</div>
							<div class="col-sm-6">
								<div class="blog-post shadow round">
									<div class="post-thumb"><a href="blog-single.html"><img src="images/post-thumb-c.jpg" alt="post"></a></div>
									<div class="post-entry">
										<div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
										<h5><a href="blog-single.html">Introducing our new payment services...</a></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
										<a href="blog-single.html" class="btn-icon"><span class="pe pe-7s-angle-right"></span></a>
									</div>
								</div>
								<div class="gaps size-3x"></div>
							</div>
							<div class="col-sm-6">
								<div class="blog-post shadow round">
									<div class="post-thumb"><a href="blog-single.html"><img src="images/post-thumb-a.jpg" alt="post"></a></div>
									<div class="post-entry">
										<div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
										<h5><a href="blog-single.html">Working Hard to Keep Pace with very heigh Demand</a></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
										<a href="blog-single.html" class="btn-icon"><span class="pe pe-7s-angle-right"></span></a>
									</div>
								</div>
								<div class="gaps size-3x"></div>
							</div>
						</div>
						<div class="row text-center">
							<div class="col-md-12">
								<ul class="pagination pagination-lg">
									<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#"><span class="fa fa-angle-right"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<div class="sidebar-right wgs-box">
							<div class="wgs-search">
								<div class="wgs-content">
									<div class="form-group">
										<input type="text" class="form-control"  placeholder="Search...">
										<button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
									</div>
								</div>
								<div class="gaps size-1x"></div>
							</div>
							<!-- Each Widget -->
							<div class="wgs-post">
								<h5 class="wgs-title">Recent Blog</h5>
								<div class="wgs-content">
									<div class="wgs-post-single">
										<div class="wgs-post-thumb">
											<img src="images/post-thumb-sm-a.jpg" alt="post-thumb">
										</div>
										<div class="wgs-post-entry">
											<h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to Keep Pace with Demand </a></h6>
											<span class="wgs-post-meta">December 19, 2017</span>
										</div>
									</div>
									<div class="wgs-post-single">
										<div class="wgs-post-thumb">
											<img src="images/post-thumb-sm-b.jpg" alt="post-thumb">
										</div>
										<div class="wgs-post-entry">
											<h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to Keep Pace with Demand </a></h6>
											<span class="wgs-post-meta">December 19, 2017</span>
										</div>
									</div>
									<div class="wgs-post-single">
										<div class="wgs-post-thumb">
											<img src="images/post-thumb-sm-c.jpg" alt="post-thumb">
										</div>
										<div class="wgs-post-entry">
											<h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to Keep Pace with Demand </a></h6>
											<span class="wgs-post-meta">December 19, 2017</span>
										</div>
									</div>
									<div class="wgs-post-single">
										<div class="wgs-post-thumb">
											<img src="images/post-thumb-sm-d.jpg" alt="post-thumb">
										</div>
										<div class="wgs-post-entry">
											<h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to Keep Pace with Demand </a></h6>
											<span class="wgs-post-meta">December 19, 2017</span>
										</div>
									</div>
								</div>
								<div class="gaps size-2x"></div>
							</div>
							<!-- End Widget -->
							
							<div class="wgs-tags">
								<h5 class="wgs-title">Tags</h5>
								<div class="wgs-content">
									<ul class="tag-list clearfix">
										<li><a href="#">BitCoin</a></li>
										<li><a href="#">Excenge</a></li>
										<li><a href="#">Trade</a></li>
										<li><a href="#">Buy Sell</a></li>
										<li><a href="#">Wallet</a></li>
										<li><a href="#">Crypto</a></li>
									</ul>
								</div>
								<div class="gaps size-1x"></div>
							</div>

							<div class="wgs-box wgs-contact-info">
								<div class="wgs-content boxed">
									<div class="contact-information">
										<div class="contact-entry">
											<h6>Crypto<span>Coin</span></h6>
											<p>34 south franklin road<br/>santa ana,ca 8975,usa</p>
										</div>
										<div class="gaps size-1x"></div>
										<div class="contact-entry">
											<h6>contact number</h6>
											<p>phone:  781-123-9865<br/>toll free: 800-123-5689</p>
										</div>
										<div class="gaps size-1x"></div>
										<div class="contact-entry">
											<h6>office hours</h6>
											<p>monday - friday<br/>8:30am - 5:00pm</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
       			</div>
       		</div>
       	</div>
       	<!--End Section -->
     	
       	<!-- Section Footer -->
		<div class="footer-section section section-pad-md light bg-footer">
			<div class="imagebg footerbg">
				<img src="images/footer-bg.png" alt="footer-bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-menu">
							<h5 class="wgs-title ucap">Services</h5>
							<div class="wgs-content">
								<ul class="menu">
									<li><a href="#">Buy Bitcoins</a></li>
									<li><a href="#">Buy Ethereum</a></li>
									<li><a href="#">Sell Bitcoins</a></li>
									<li><a href="#">Bitcoin Trading</a></li>
									<li><a href="#">Margin Trading</a></li>
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-menu">
							<h5 class="wgs-title ucap">Information</h5>
							<div class="wgs-content">
								<ul class="menu">
									<li><a href="#">Payment Options</a></li>
									<li><a href="#">Fee Schedule</a></li>
									<li><a href="#">Getting Started</a></li>
									<li><a href="#">Identity Verification Guide</a></li>
									<li><a href="#">Card Verification Guide</a></li>
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-post">
							<h5 class="wgs-title ucap">Recent Blog</h5>
							<div class="wgs-content">
								<div class="wgs-post-single">
									<div class="wgs-post-thumb">
										<img src="images/post-thumb-sm-b.jpg" alt="post-thumb">
									</div>
									<div class="wgs-post-entry">
										<h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to Keep Pace with Demand </a></h6>
										<span class="wgs-post-meta">December 19, 2017</span>
									</div>
								</div>
								<div class="wgs-post-single">
									<div class="wgs-post-thumb">
										<img src="images/post-thumb-sm-c.jpg" alt="post-thumb">
									</div>
									<div class="wgs-post-entry">
										<h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to Keep Pace with Demand </a></h6>
										<span class="wgs-post-meta">December 19, 2017</span>
									</div>
								</div>
							</div>
						</div>
						<!-- End Widget -->
					</div>
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-contact">
							<h5 class="wgs-title ucap">get in touch</h5>
							<div class="wgs-content">
								<ul class="wgs-contact-list">
									<li><span class="pe pe-7s-map-marker"></span>217 Summit Boulevard <br/>Birmingham, AL 35243</li>
									<li><span class="pe pe-7s-call"></span>Telephone : (123) 4567 8910 <br/>Telephone : (123) 1234 5678</li>
									<li><span class="pe pe-7s-global"></span>Email : <a href="mailto:info@sitename.com">info@sitename.com</a> <br/>Web : <a href="http://example.com">www.example.com</a></li>
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
				</div>
			</div>	
		</div>
		<!-- End Section -->
		
		<!-- Copyright -->
		<div class="copyright light">
			<div class="container">
				<div class="row">
					<div class="site-copy col-sm-7">
						<p>Copyright &copy; 2018 CryptoCoin. Template Made by <a href="https://themeforest.net/user/softnio/portfolio?ref=softnio">Softnio</a></p>
					</div>
					<div class="col-sm-5 text-right mobile-left">
						<ul class="social">
							<li><a href="#"><em class="fa fa-facebook"></em></a></li>
							<li><a href="#"><em class="fa fa-twitter"></em></a></li>
							<li><a href="#"><em class="fa fa-linkedin"></em></a></li>
							<li><a href="#"><em class="fa fa-google-plus"></em></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Copyright -->
		
		<!-- Preloader !remove please if you do not want -->
		<div id="preloader"><div id="status">&nbsp;</div></div> 
		<!-- Preloader End -->
		
		<!-- JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		
		<script src="assets/js/jquery.bundle.js"></script>
		<script src="assets/js/script.js"></script>
		
	</body>
</html>
