<!DOCTYPE html>
<html lang="zxx" class="js">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="CryptoCoin is a powerful Bitcoin Crypto Currency Wallet and Mining Template with full of customization options and features">
		<!-- Fav Icon  -->
		<link rel="shortcut icon" href="images/favicon.png">
		<!-- Site Title  -->
		<title>Mining - CryptoCoin - Bitcoin Crypto Currency Wallet and Mining Template</title>
		<!-- Vendor Bundle CSS -->
		<link rel="stylesheet" href="assets/css/vendor.bundle.css" >
		<!-- Custom styles for this template -->
		<link href="assets/css/style.css" rel="stylesheet">
		<link href="assets/css/theme-blue.css" rel="stylesheet">
	</head>
	<body>
	
		<!-- Header --> 
		<header class="site-header header-s2 is-sticky">
			<!-- Navbar -->
			<div class="navbar navbar-primary">
				<div class="top-bar-wrap">
					<div class="container relative">
						<div class="clearfix">
							<div class="col-md-4 col-sm-6 mobile-center">
								<a class="navbar-brand" href="index-mining.html">
									<img class="logo" alt="" src="images/logo.png">
								</a>
							</div>
							<div class="col-md-4 col-sm-6 text-center">
								<ul class="top-nav hidden-xs hidden-sm">
									<li><a href="faqs.html">Help</a></li>
									<li><a href="faqs.html">Support</a></li>
									<li><a href="signup.html">Login</a></li>
									<li><a href="signup.html">Register</a></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-6 text-right mobile-center">
								<ul class="social social-s2">
									<li><a href="#"><em class="fa fa-facebook"></em></a></li>
									<li><a href="#"><em class="fa fa-twitter"></em></a></li>
									<li><a href="#"><em class="fa fa-linkedin"></em></a></li>
									<li><a href="#"><em class="fa fa-google-plus"></em></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="nav-bar-wrap">
					<div class="container relative">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
								<span class="sr-only">Menu</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- Q-Button for Mobile -->
							<div class="quote-btn"><a class="btn" href="contact.html">Get Started</a></div>
						</div>
						<!-- MainNav -->
						<nav class="navbar-collapse collapse" id="mainnav">
							<ul class="nav navbar-nav">
								<li class="dropdown"><a href="#" class="dropdown-toggle">Home <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="index.html">Home - Default</a></li>
										<li><a href="index-wallet.html">Home - Wallet</a></li>
										<li><a href="index-mining.html">Home - Mining</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#" class="dropdown-toggle">Pages <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">About Pages</a>
											<ul class="dropdown-menu">
												<li><a href="about.html">About Us</a></li>
												<li><a href="teams.html">Teams</a></li>
												<li><a href="testimonial.html">Testimonial</a></li>
											</ul>
										</li>
										<li><a href="#">Service Pages</a>
											<ul class="dropdown-menu">
												<li><a href="service.html">Service List</a></li>
												<li><a href="service-single.html">Service Single</a></li>
											</ul>
										</li>
										<li><a href="#">BitCoin Pages</a>
											<ul class="dropdown-menu">
												<li><a href="work-process.html">How it Works</a></li>
												<li><a href="buy-sell.html">Buy &amp; Sell</a></li>
												<li><a href="wallet-features.html">Wallet Features</a></li>
												<li><a href="market-data.html">Market Data</a></li>
												<li><a href="pricing.html">Pricing</a></li>
											</ul>
										</li>
										<li><a href="#">Blog Pages</a>
											<ul class="dropdown-menu">
												<li><a href="blog.html">Blog List</a></li>
												<li><a href="blog-single.html">Blog Single</a></li>
											</ul>
										</li>
										<li><a href="#">Miscellaneous Pages</a>
											<ul class="dropdown-menu">
												<li><a href="pricing-table.html">Pricing Table</a></li>
												<li><a href="signup.html">Sign In/Sign Up</a></li>
												<li><a href="faqs.html">Faq/Support</a></li>
												<li><a href="contact.html">Contact</a></li>
											</ul>
										</li>
										<li><a href="typography.html">Typography</a></li>
									</ul>
								</li>
								<li><a href="buy-sell.html">buy &amp; Sell</a></li>
								<li><a href="wallet-features.html">wallet</a></li>
								<li><a href="market-data.html">Market data</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li class="quote-btn hidden-xs hidden-sm"><a class="btn" href="contact.html">get started</a></li>
							</ul>
						</nav>
						<!-- #end MainNav -->
					</div>
				</div>
			</div>
			<!-- End Navbar -->
			<!-- Banner/Slider -->
			<div id="header" class="banner banner-md light row-vm">
				<div class="imagebg imagebg-bottom">
					<img src="images/header-bg-d.jpg" alt="bg">
				</div>
				<div class="container">
					<div class="banner-content">
						<div class="row text-center">
							<div class="col-md-8 col-md-offset-2">
								<h1 class="">Start bitcoin mining today!</h1>
							</div>
							<div class="gaps size-1x"></div>
						</div>
						<div class="row text-center">
							<div class="col-md-6 col-md-offset-3">
								<p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
								<ul class="btns">
									<li><a href="#" class="btn">Login</a></li>
									<li><a href="#" class="btn btn-outline">Signup</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Banner/Slider -->
		</header>
     	<!-- End Header -->
      	
      	<!-- Features Box -->
      	<div class="features-box section section-pad">
      		<div class="container">
      			<div class="row text-center">
      				<div class="col-md-3 col-sm-6 res-m-bttm">
      					<div class="box box-alt-bg round shadow">
      						<img src="images/box-icon-o.png" alt="box-icon" class="box-icon">
      						<h6 class="ucap">mining hardware is ready</h6>
      						<p class="small">Compliant with dolorts adipis sit ametcon sectetur.</p>
      					</div>
      				</div>
      				<div class="col-md-3 col-sm-6 res-m-bttm">
      					<div class="box box-alt-bg round shadow">
      						<img src="images/box-icon-p.png" alt="box-icon" class="box-icon">
      						<h6 class="ucap">ALTERNATIVE CRYPTOCURRENCIES</h6>
      						<p class="small">Lorem ipsum dolor sit amet, contetur adipiscing eli.</p>
      					</div>
      				</div>
      				<div class="col-md-3 col-sm-6 res-m-bttm">
      					<div class="box box-alt-bg round shadow">
      						<img src="images/box-icon-q.png" alt="box-icon" class="box-icon">
      						<h6 class="ucap">GET INSTANT WITHDRAWAL</h6>
      						<p class="small">Dolore magna aliqa. Ut enim ad minim venim, quis.</p>
      					</div>
      				</div>
      				<div class="col-md-3 col-sm-6 res-m-bttm">
      					<div class="box box-alt-bg round shadow">
      						<img src="images/box-icon-r.png" alt="box-icon" class="box-icon">
      						<h6 class="ucap">Most SECURE and trusted</h6>
      						<p class="small">Conse ctetur adipi scing elit, sed do eiusmod tempor.</p>
      					</div>
      				</div>
      			</div>
      			<div class="gaps size-2x"></div>
      			<div class="gaps size-4x hidden-xs hidden-sm"></div>
      			<div class="row row-vm">
       				<div class="col-md-5">
       					<div class="round mgr--30 res-m-bttm"><img src="images/photo-md-a.jpg" alt="photo-md" class="img-shadow"></div>
       				</div>
       				<div class="col-md-6 col-md-offset-1 ">
						<div class="text-block">
							<h2>Bitcoin is an innovative &amp; a new kind of money.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
							<p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
							<a href="#" class="btn btn-alt">Read More</a>
						</div>
       				</div>
       			</div>
      		</div>
      	</div><!--End Features Box -->
      	
       	<!-- Content -->
		<div class="section section-contents section-pad bg-grey image-on-right">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-7">

						<div class="row">
							<div class="col-md-2 col-sm-2 res-s-bttm-sm">
								<div class="icon-box style-s1 size-md circle"><em class="fa fa-btc"></em></div>
							</div>
							<div class="col-md-10 col-sm-10">
								<h4 class="font-w-300 mb-x1">What is Bitcoin Mining?</h4>
								<p>Where do bitcoins come from? vero eos et accusamus et iusto odio pre esentium volup tatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
							</div>
							<div class="gaps size-2x"></div>
							<div class="col-md-2 col-sm-2 res-s-bttm-sm">
								<div class="icon-box style-s1 size-md circle"><em class="fa fa-random"></em></div>
							</div>
							<div class="col-md-10 col-sm-10">
								<h4 class="font-w-300 mb-x1">How dose a Bitcoin Works?</h4>
								<p>Bitcoin miners help keep similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
							</div>
							<div class="gaps size-2x"></div>
							<div class="col-md-2 col-sm-2 res-s-bttm-sm">
								<div class="icon-box style-s1 size-md circle"><em class="fa fa-files-o"></em></div>
							</div>
							<div class="col-md-10 col-sm-10">
								<h4 class="font-w-300 mb-x1">What is Proof of Work?</h4>
								<p>A proof of work is a lique sunt in culpa qui officia deserunt animi, id est laborum et dolor atum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
							</div>
						</div>

					</div>					
				</div>
			</div>
			<div class="section-bg imagebg">
				<img src="images/plx-side-a.jpg" alt="plx-side">
			</div>
		</div>
		<!-- End Section -->
      	<!--Section -->
       	<div class="section section-pad">
       		<div class="container">
       			<div class="row row-vm">
       				<div class="col-md-6">
       					<div class="video-block round res-m-bttm">
       						<img src="images/video-md-b.jpg" alt="photo-md" class="img-shadow">
       						<a href="https://www.youtube.com/watch?v=N6NscwzbMvI" class="video-play"><span class="fa fa-play"></span></a>
       					</div>
       				</div>
       				<div class="col-md-5 col-md-offset-1">
						<div class="text-block">
							<h2>How to make bitcoin</h2>
							<p>Cras purus lectus elit fugiat, a non neque commodo, vulputate lacus natoque dolorum vestibulum elit tempor, eu dapibus cras scelerisque necessitatibus in, duis aliquam varius ac sodales sed. Wisi nunc sed vitae auctor nonummy eget, id arcu ullam</p>
							<p>orci at, etiam tellus, feugiat ac ut ac, urna leo. Phasellus cum ac et duis pretium, vel a, mus blandit ante massa, massa odio, urna rutrum ut. Donec et mi enimstie.</p>
						</div>
       				</div>
       			</div>
       		</div>
       	</div>
       	<!--End Section -->
       	
       	<!-- Section -->
		<div class="section section-pad-sm cta-small light">
			<div class="cta-block">
				<div class="container">
					<div class="row mobile-center">
						<div class="col-md-12">
							<div class="cta-sameline">
								<h3>Open account for free and start trading Bitcoins now!</h3>
								<a class="btn btn-outline btn-alt btn-md" href="#">get started</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Section -->
      	
       	<!--Section -->
       	<div class="section section-pad">
       		<div class="container">
       			<div class="section-head">
					<div class="row text-center">
						<div class="col-md-12">
							<h2 class="heading-section">bitcoin mining methoads comparison</h2>
						</div>
						<div class="gaps size-1x"></div>
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<p>Sed ut perspi ciatis unde omnis iste natus error sit volup tatem accusa ntium dolor emque lauda ntium, totam rem aperiam</p>
						</div>
					</div>
       			</div>
       			<div class="gaps size-3x"></div>
       			<div class="row">
					<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 res-m-bttm">
						<div class="box-miner">
							<h4 class="box-miner-title text-center">Antminer S7</h4>
							<div class="box-miner-image">
								<img src="images/photo-sm-a.jpg" alt="photo-sm">
							</div>
							<ul class="box-miner-list">
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Capacity</div>
										<div class="col-xs-6 no-pd text-right">4.73 TH/s</div>
									</div>
								</li>
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Power Effiency</div>
										<div class="col-xs-6 no-pd text-right">0.25 W/Gh</div>
									</div>
								</li>
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Weight</div>
										<div class="col-xs-6 no-pd text-right">8.8 Pounds</div>
									</div>
								</li>
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Guide</div>
										<div class="col-xs-6 no-pd text-right">Yes</div>
									</div>
								</li>
								<li class="text-center">
									<span>Appx. BTC earned per month : 0.1645</span>
								</li>
								<li>
									<a class="box-miner-action" href="#">Sign Up</a>
								</li>
							</ul>
						</div>
					</div><!-- col -->
					<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 res-m-bttm">
						<div class="box-miner">
							<h4 class="box-miner-title text-center">Antminer s9</h4>
							<div class="box-miner-image">
								<img src="images/photo-sm-b.jpg" alt="photo-sm">
							</div>
							<ul class="box-miner-list">
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Capacity</div>
										<div class="col-xs-6 no-pd text-right">13.5 TH/s</div>
									</div>
								</li>
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Power Effiency</div>
										<div class="col-xs-6 no-pd text-right">0.098 W/Gh</div>
									</div>
								</li>
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Weight</div>
										<div class="col-xs-6 no-pd text-right">8.1 Pounds</div>
									</div>
								</li>
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Guide</div>
										<div class="col-xs-6 no-pd text-right">Yes</div>
									</div>
								</li>
								<li class="text-center">
									<span>Appx. BTC earned per month : 0.03603</span>
								</li>
								<li>
									<a class="box-miner-action" href="#">Sign Up</a>
								</li>
							</ul>
						</div>
					</div><!-- col -->
					<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 res-m-bttm">
						<div class="box-miner">
							<h4 class="box-miner-title text-center">Avalon6</h4>
							<div class="box-miner-image">
								<img src="images/photo-sm-c.jpg" alt="photo-sm">
							</div>
							<ul class="box-miner-list">
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Capacity</div>
										<div class="col-xs-6 no-pd text-right">3.5 TH/s</div>
									</div>
								</li>
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Power Effiency</div>
										<div class="col-xs-6 no-pd text-right">0.29 W/Gh</div>
									</div>
								</li>
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Weight</div>
										<div class="col-xs-6 no-pd text-right">9.5 Pounds</div>
									</div>
								</li>
								<li>
									<div class="row no-mg">
										<div class="col-xs-6 no-pd">Guide</div>
										<div class="col-xs-6 no-pd text-right">No</div>
									</div>
								</li>
								<li class="text-center">
									<span>Appx. BTC earned per month : 0.1232</span>
								</li>
								<li>
									<a class="box-miner-action" href="#">Sign Up</a>
								</li>
							</ul>
						</div>
					</div><!-- col -->
				</div>
      			<div class="gaps size-2x"></div>
      			<div class="gaps size-4x hidden-xs hidden-sm"></div>
       			<div class="row text-center">
					<div class="col-md-4 res-m-bttm-lg">
						<div class="box-alt box-dot box-direction box-direction-one">
							<div class="image-icon">
								<img src="images/box-icon-i.png" alt="box-icon">
							</div>
							<h5>Download a Wallet</h5>
							<p>Download an app dolorts adipis sit ametcon sectetur.</p>
						</div>
					</div>
					<div class="col-md-4 res-m-bttm-lg">
						<div class="box-alt box-dot box-direction box-direction-two">
							<div class="image-icon">
								<img src="images/box-icon-j.png" alt="box-icon">
							</div>
							<h5>Add Bitcoin to a Walet</h5>
							<p>Once your wallet is  dolorts adipis sit ametcon sectetur.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-alt box-dot">
							<div class="image-icon">
								<img src="images/box-icon-k.png" alt="box-icon">
							</div>
							<h5>Send/Receive with Wallet</h5>
							<p>The Process of sending dolorts adipis sit ametcon sectetur.</p>
						</div>
					</div>
				</div>
       		</div>
       	</div>
       	<!--End Section -->

       	<!--Section -->
       	<div class="section section-pad has-bg dark-filter light">
       		<div class="imagebg has-parallax">
				<img src="images/testimonial-bg.jpg" alt="testimonial-bg">
			</div>
       		<div class="container">
       			<div class="section-head">
					<div class="row text-center">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<h2 class="heading-section">What investors say</h2>
							<p>Sed ut perspi ciatis unde omnis iste natus error sit volup tatem accusa ntium dolor emque lauda ntium, totam rem aperiam</p>
						</div>
					</div>
       			</div>
       			<div class="gaps size-3x"></div>
       			<div class="row text-center">
       				<div class="col-md-6 col-md-offset-3">
       					<div class="testimonial-carousel has-carousel" data-items="1" data-loop="true" data-dots="true" data-auto="true">
       						<div class="testimonial-item testimonial-s2">
       							<div class="client-photo circle">
       								<img src="images/client-a.jpg" alt="client">
       							</div>
       							<div class="client-info">
       								<h6>John Doe</h6>
       								<span>CEO, Company Name</span>
       							</div>
       							<div class="client-words">
       								<em class="fa fa-quote-left"></em>
       								<blockquote>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</blockquote>
       							</div>
       						</div>
       						<div class="testimonial-item testimonial-s2">
       							<div class="client-photo circle">
       								<img src="images/client-b.jpg" alt="client">
       							</div>
       							<div class="client-info">
       								<h6>Kamal Hosen</h6>
       								<span>CEO, Company Name</span>
       							</div>
       							<div class="client-words">
       								<em class="fa fa-quote-left"></em>
       								<blockquote>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</blockquote>
       							</div>
       						</div>
       					</div>
       				</div>
       			</div>
       		</div>
       	</div>
       	<!--End Section -->
       	
      	
      	<!--Section -->
       	<div class="section section-pad">
       		<div class="container">
       			<div class="section-head">
					<div class="row text-center">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<h2 class="heading-section">our latest news</h2>
							<p>Sed ut perspi ciatis unde omnis iste natus error sit volup tatem accusa ntium dolor emque lauda ntium, totam rem aperiam</p>
						</div>
					</div>
       			</div>
       			<div class="gaps size-3x"></div>
       			<div class="row text-center">
       				<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 res-m-bttm-lg">
       					<div class="blog-post shadow round">
       						<div class="post-thumb"><a href="blog-single.html"><img src="images/post-thumb-a.jpg" alt="post"></a></div>
       						<div class="post-entry">
       							<div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
       							<h5><a href="blog-single.html">Working Hard to Keep Pace with very heigh Demand</a></h5>
       							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
       							<a href="blog-single.html" class="btn-icon"><span class="pe pe-7s-angle-right"></span></a>
       						</div>
       					</div>
       				</div>
       				<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 res-m-bttm-lg">
       					<div class="blog-post shadow round">
       						<div class="post-thumb"><a href="blog-single.html"><img src="images/post-thumb-b.jpg" alt="post"></a></div>
       						<div class="post-entry">
       							<div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
       							<h5><a href="blog-single.html">Black Friday: Bitcoins the biggest deal on from today</a></h5>
       							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
       							<a href="blog-single.html" class="btn-icon"><span class="pe pe-7s-angle-right"></span></a>
       						</div>
       					</div>
       				</div>
       				<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 res-m-bttm-lg">
       					<div class="blog-post shadow round">
       						<div class="post-thumb"><a href="blog-single.html"><img src="images/post-thumb-c.jpg" alt="post"></a></div>
       						<div class="post-entry">
       							<div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
       							<h5><a href="blog-single.html">Introducing our new payment services...</a></h5>
       							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
       							<a href="blog-single.html" class="btn-icon"><span class="pe pe-7s-angle-right"></span></a>
       						</div>
       					</div>
       				</div>
       			</div>
       		</div>
       	</div>
       	<!--End Section -->
      	
       	<!-- Section -->
		<div class="section section-pad-md bg-grey">
			<div class="container">
				<div class="content row">
					<div class="owl-carousel has-carousel no-dots"  data-items="6" data-loop="true" data-dots="false" data-auto="false">
						<div class="logo-item"><img alt="" width="190" height="82" src="images/cl-logo1.png"></div>
						<div class="logo-item"><img alt="" width="190" height="82" src="images/cl-logo2.png"></div>
						<div class="logo-item"><img alt="" width="190" height="82" src="images/cl-logo3.png"></div>
						<div class="logo-item"><img alt="" width="190" height="82" src="images/cl-logo4.png"></div>
						<div class="logo-item"><img alt="" width="190" height="82" src="images/cl-logo5.png"></div>
						<div class="logo-item"><img alt="" width="190" height="82" src="images/cl-logo6.png"></div>
					</div>

				</div>
			</div>	
		</div>
		<!-- End Section -->
		
       	<!-- Section Footer -->
		<div class="footer-section section section-pad-md light bg-footer">
			<div class="imagebg footerbg">
				<img src="images/footer-bg.png" alt="footer-bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-menu">
							<h5 class="wgs-title ucap">Services</h5>
							<div class="wgs-content">
								<ul class="menu">
									<li><a href="#">Buy Bitcoins</a></li>
									<li><a href="#">Buy Ethereum</a></li>
									<li><a href="#">Sell Bitcoins</a></li>
									<li><a href="#">Bitcoin Trading</a></li>
									<li><a href="#">Margin Trading</a></li>
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-menu">
							<h5 class="wgs-title ucap">Information</h5>
							<div class="wgs-content">
								<ul class="menu">
									<li><a href="#">Payment Options</a></li>
									<li><a href="#">Fee Schedule</a></li>
									<li><a href="#">Getting Started</a></li>
									<li><a href="#">Identity Verification Guide</a></li>
									<li><a href="#">Card Verification Guide</a></li>
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-post">
							<h5 class="wgs-title ucap">Recent Blog</h5>
							<div class="wgs-content">
								<div class="wgs-post-single">
									<div class="wgs-post-thumb">
										<img src="images/post-thumb-sm-b.jpg" alt="post-thumb">
									</div>
									<div class="wgs-post-entry">
										<h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to Keep Pace with Demand </a></h6>
										<span class="wgs-post-meta">December 19, 2017</span>
									</div>
								</div>
								<div class="wgs-post-single">
									<div class="wgs-post-thumb">
										<img src="images/post-thumb-sm-c.jpg" alt="post-thumb">
									</div>
									<div class="wgs-post-entry">
										<h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to Keep Pace with Demand </a></h6>
										<span class="wgs-post-meta">December 19, 2017</span>
									</div>
								</div>
							</div>
						</div>
						<!-- End Widget -->
					</div>
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-contact">
							<h5 class="wgs-title ucap">get in touch</h5>
							<div class="wgs-content">
								<ul class="wgs-contact-list">
									<li><span class="pe pe-7s-map-marker"></span>217 Summit Boulevard <br/>Birmingham, AL 35243</li>
									<li><span class="pe pe-7s-call"></span>Telephone : (123) 4567 8910 <br/>Telephone : (123) 1234 5678</li>
									<li><span class="pe pe-7s-global"></span>Email : <a href="mailto:info@sitename.com">info@sitename.com</a> <br/>Web : <a href="http://example.com">www.example.com</a></li>
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
				</div>
			</div>	
		</div>
		<!-- End Section -->
		
		<!-- Copyright -->
		<div class="copyright light">
			<div class="container">
				<div class="row">
					<div class="site-copy col-sm-7">
						<p>Copyright &copy; 2018 CryptoCoin. Template Made by <a href="https://themeforest.net/user/softnio/portfolio?ref=softnio">Softnio</a></p>
					</div>
					<div class="col-sm-5 text-right mobile-left">
						<ul class="social">
							<li><a href="#"><em class="fa fa-facebook"></em></a></li>
							<li><a href="#"><em class="fa fa-twitter"></em></a></li>
							<li><a href="#"><em class="fa fa-linkedin"></em></a></li>
							<li><a href="#"><em class="fa fa-google-plus"></em></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Copyright -->
		
		<!-- Preloader !remove please if you do not want -->
		<div id="preloader"><div id="status">&nbsp;</div></div> 
		<!-- Preloader End -->
		
		<!-- JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		
		<script src="assets/js/jquery.bundle.js"></script>
		<script src="assets/js/script.js"></script>
		
	</body>
</html>
